.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

  .card {
    flex: 1 0 250px;
    min-height: 90px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: block;
    padding: 10px;

    p {
      display: inline;
      margin-left: 10px;
    }

    .name {
      font-size: 20px;
      font-weight: 400;

      svg {
        padding: 5px 0 0 5px;
      }
    }

    .description {
      font-size: 13px;
      margin-top: 5px;
      color: rgb(88, 96, 105);
    }

    .stars {
      font-size: 13px;
      color: rgb(88, 96, 105);
    }
  }
}
