.search-content {
  padding: 13px 0 0 10px;

  .search__input-field {
    font-size: 15px;
    display: block;
    min-width: 300px;
    height: 40px;
    border: 1px solid rgb(232, 240, 254);
    border-radius: 0.4rem;
  }
}

.search-content__hint {
  color: white;
  font-size: 10px;
  display: block;
  padding: 0px;
}
