.user-info {

  display: grid;
  grid-template-columns: 50% auto;
  grid-template-rows: 210px auto;

  justify-items: stretch;
  padding: 10px;

  .infos {
    grid-column: span 2;
    grid-row: span 1;
    margin-bottom: 20px;
    margin-top: 10px;

    .avatar {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      border: 2px solid rgb(232, 240, 254);
      box-shadow: 1px 1px 5px;
    }

    .user-name {
      padding-top: 10px;
      height: 10;
      font-size: 26px;
    }
  }

  .references {
    grid-column: span 2;
    grid-row: span 1;
    // margin-top: 10px;
  }
}

@media (min-width: 400px) {
  .user-info {
    text-align: center;
  }
}
